name: Bump Version

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  # This repo doesn't bump version on push to `main`
  workflow_dispatch:
    inputs:
      version:
        description: New semver release version.

jobs:
  bump:
    uses: IronCoreLabs/workflows/.github/workflows/bump-version.yaml@bump-version-v1
    with:
      version: ${{ inputs.version }}
      bump_version_release_prefix: v
    secrets: inherit

  # Cause proxy.golang.org (and pkg.go.dev) to refresh its cache for this package. https://proxy.golang.org/'s FAQ explains.
  pull:
    needs: "bump"
    runs-on: "ubuntu-22.04"
    steps:
      - name: Checkout own repo
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.WORKFLOW_PAT }}
          path: self
      - name: Checkout workflows repo
        uses: actions/checkout@v6
        with:
          repository: IronCoreLabs/workflows
          ref: bump-version-v1
          token: ${{ secrets.WORKFLOW_PAT }}
          path: workflows
      - name: Announce the new release
        run: |
          mkdir foo
          cd foo
          go mod init example.com/m
          go get github.com/IronCoreLabs/tenant-security-client-go@v${{ inputs.version }}
        working-directory: self
