name: Go CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 14 * * 1" # Mondays at 2pm UTC

jobs:
  test:
    needs: get_ref
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        os:
          - ubuntu-24.04
          - macos-14
        # - windows-2022 Can't install libzmq.
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v5
      - name: clone the tsp
        uses: actions/checkout@v5
        with:
          repository: IronCoreLabs/tenant-security-proxy
          ref: ${{ needs.get_ref.outputs.tsp_ref }}
          path: tenant-security-proxy
          token: ${{ secrets.WORKFLOW_PAT }}
      - uses: actions/cache@v4
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          # * Cargo registry
          # * Cargo packages
          # * TSP build
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            ~\AppData\Local\go-build
            ~/.cargo/registry
            ~/.cargo/git
            tenant-security-proxy/target
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-
      - name: Decrypt TSC integration keys
        uses: IronCoreLabs/ironhide-actions/decrypt@v3
        with:
          keys: ${{ secrets.IRONHIDE_KEYS }}
          input: .env.integration.iron
      - name: install zmq (linux)
        if: ${{ runner.os == 'Linux' }}
        run: sudo apt update && sudo apt install -y --no-install-recommends libzmq3-dev
      - name: install zmq (mac)
        if: ${{ runner.os == 'macOS' }}
        run: brew install zmq coreutils
      - name: Build TSP
        working-directory: tenant-security-proxy
        run: cargo build --release
      - name: Run tests
        run: |
          cd tenant-security-proxy && env $(cat ../.env.integration) cargo run --release &
          timeout 700 bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:9000/ready)" =~ ''[01346-9][0-9][0-9]'' ]]; do sleep 5; done' || false
          env $(cat .env.integration) go test ./... -v

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - uses: actions/checkout@v5
      - uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0

  # Look for a comment telling us what TSP ref to use.
  get_ref:
    uses: IronCoreLabs/workflows/.github/workflows/get-tsp-ref.yaml@get-tsp-ref-v1
    secrets: inherit
